

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

/* ******************************************************
	Basic Styling
*********************************************************/

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* ******************************************************
	Animated Skills Bar
*********************************************************/

#Skills {
    font-size: 20px;
    height: auto;
    margin: 0;
    padding: 10px;
    width: 35%;
    background-color: rgba(255, 255, 255, .6);
}
#Skills img {
    width: 15%;
    height: 10%;
    /*margin: auto 35%;*/
    margin: 0;
    padding: 10px;
}
.Skillbar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#HTML {
    width: 80%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}
#CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}
#jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 70%}
}
#JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 60%}
}
#PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}
#mySQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 20%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 20%}
}
.SkillArea {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
