html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Frutiger, Helvetica;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

/* Slideshow container */
.slideshow-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.slide {
  height: 100%;
}
/* First slide : Prez */
.slide:first-child {
  background-image: url("../img/backgrounds/bg-pc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.prez { /* faire sortir du flux pour mettre une marge */
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(51, 143, 240, .6);
  color: rgb(190, 190, 190);
  font-weight: bold;
  padding: 6px 0;
}

/*_
__ __ _____ _ _| |__ ___
\ V  V / _ \ '_| / /(_-<
\_/\_/\___/_| |_\_\/__/
        */


/* Second slide : Projects */
.slide:nth-child(2) {
  background-image: url("../img/backgrounds/bg-pg2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.works {
  position: relative;
}

.work p, .work h2 {
  padding: 0 5px;
  text-align: center;
  color: #ddd;
  font-weight: 600;
  text-shadow: 1px 1px 0 black;
}

.work h2 {
  padding-top: 10px;
}
.work, .work div {
  width: 280px;
  height: 200px;
}
.work, .work * {
  cursor: pointer;
}

.work blockquote {
  color: #ddd;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 0 black;
  font-size: 10px;;

}

.work {
  border: 1px solid #444;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .85;
  /*margin-top: 95px;*/
  margin-left: 80px;
  position: absolute;
}
.work div:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color .7s;
}
.work div {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color .7s;
}

.work:nth-child(2n) {
  margin-top: 300px;
}
.work:nth-child(2n+1) {
  margin-top: 50px;
}
.work:first-child {
  background-image: url("../img/works/simplonstrap.jpg");
  left: 50px;
}
.work:nth-child(2) {
  background-image: url("../img/works/poster-copy.jpg");
  left: 50px;
}
.work:nth-child(3) {
  background-image: url("../img/works/medinscop_simulator.png");
  left: 450px;
}
.work:nth-child(4) {
  background-image: url("../img/works/aeroweb_challenge.jpg");
  left: 450px;
}
.work:nth-child(5) {
  background-image: url("../img/works/aquabellum_project.jpg");
  left: 850px;
}
.work:nth-child(6) {
  background-image: url("../img/works/lesemplettes.jpg");
  left: 850px;
}


/* Third slide : Plus */
.slide:nth-child(3) {
  background: url("../img/backgrounds/bg-pg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.contact {
  background-color: rgba(255, 255, 255, .6);
  position: absolute;
  right: 50px;
  top: 50px;
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  color: #222;
}
.contact a {
  color: rgba(51, 143, 240, 1);
  font-weight: 600;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, .8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center;
}


/* The Nav for moving between slides */
.remote {
  display: flex;
  position: absolute;
  bottom: 10%;
  width: 100%;
  flex-direction: row;
}

.dot {
  font-size: 26px;
  font-weight: 600;
  color: #ddd;
  text-align: center;
  width: calc(100% / 3);
  cursor:pointer;
  background-color: rgba(51, 143, 200, .7);
  transition: background-color 0.6s ease;
  padding: 12px 0;
}

.dot:hover {
  background-color: rgba(88, 88, 88, .8);
}

.active {
  background-color: rgba(51, 72, 255, .7);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ___ _  _____ _    _    ___
/ __| |/ /_ _| |  | |  / __|
\__ \ ' < | || |__| |__\__ \
|___/_|\_\___|____|____|___/
*/

#Skills {
   font-size: 20px;
   height: auto;
   margin: 0;
   padding: 10px;
   width: 35%;
   position: relative;
}

#Skills h2 {
  text-align: center;
  margin-top: 12px;
  font-style: italic;
}

.skill-cloud {
  height: 250px;
  width: 450px;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .75);
  position: absolute;
}
#Skills img {
   width: 60px;
   /*height: 10%;*/
   /*margin: auto 35%;*/
   margin: 0;
   padding: 10px;
   position: absolute;
}

#Skills img#html5-logo {
  width: 15%;
  top: 19%;
  left: 16%;
}

#Skills img#css3-logo {
  width: 14%;
  top: 24%;
  left: 38%;
}

#Skills img#javascript-logo {
  width: 16%;
  top: 44%;
  left: 10%;
}

#Skills img#jquery-logo {
  width: 15%;
  top: 56%;
  left: 31%;
}

#Skills img#php-logo {
  width: 17%;
  top: 22%;
  left: 66%;
}
#Skills img#mysql-logo {
  width: 18%;
  top: 65%;
  left: 54%;
}
#Skills img#git-logo {
  width: 18%;
  top: 50%;
  left: 64%;
}
/*_ _                          _
_ __  ___ __| (_)__ _   __ _ _  _ ___ _ _(_)___ ___
| '  \/ -_) _` | / _` | / _` | || / -_) '_| / -_|_-<
|_|_|_\___\__,_|_\__,_| \__, |\_,_\___|_| |_\___/__/
                          |_|
*/

@media all and (max-width: 1024px) {
  .work p {
    display: none;
  }
  .work div {
    width: 100%;
    height: 100%;
  }
  .work h2, .work .subtitle {
    display: block;
    font-size: 3rem;
    padding-top: 35%;
  }
  .work {
    width: 37%;
    height: 30%;
  }
  .work:first-child {
    top: 5%;
  }
  .work:nth-child(2) {
    top: 45%;
  }
  .work:nth-child(3) {
    top: 5%;
  }
  .work:nth-child(4) {
    top: 45%;
  }
  .work:nth-child(5) {
    top: 5%;
  }
  .work:nth-child(6) {
    top: 45%;
  }
}
